.count {
    background-color: "red"; 
    margin-left: "30%"; 
    margin-right: "30%";
    border: "3px 3px"
  }
  
  .calculation {
    background-color: "red"; 
    margin-left: "30%"; 
    margin-right: "30%";
    border: "3px 3px"
  }
  
  .btn1 {
    background-color: "red"; 
    margin-left: "30%"; 
    margin-right: "30%";
  }
  
  .btn2 {
    background-color: "red"; 
    margin-left: "30%"; 
    margin-right: "30%";
  }
  
  .btn3 {
    background-color: "red"; 
    margin-left: "30%"; 
    margin-right: "30%";
  }